<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>      
  <session-factory>
    <!-- Database connection settings -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/fyp_db</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="show_sql">true</property>
        
    <mapping class="com.fyp.agent.models.UserStory" />
    <mapping class="com.fyp.agent.models.UIObject" />
    <mapping class="com.fyp.agent.models.TestStep" />
    <mapping class="com.fyp.agent.models.TypeStep" />
    <mapping class="com.fyp.agent.models.ClickStep" />
    <mapping class="com.fyp.agent.models.PressKeyStep" />
    <mapping class="com.fyp.agent.models.SelectStep" />
    <mapping class="com.fyp.agent.models.AcceptanceCriteria" />
    <mapping class="com.fyp.agent.models.UserStorySteps" />
    <mapping class="com.fyp.agent.models.TestCase" />
    <mapping class="com.fyp.agent.models.TestCaseSteps" />
    <mapping class="com.fyp.agent.models.Project" />
    <mapping class="com.fyp.agent.models.Sprint" />
    <mapping class="com.fyp.agent.models.TestCaseResult" />
    <mapping class="com.fyp.agent.models.TestStepResult" />
    <mapping class="com.fyp.agent.models.Agent" />
    <mapping class="com.fyp.agent.models.StoryAgent" />
     
  </session-factory>
</hibernate-configuration>